# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
rails-backend/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
rails-backend/vendor/* linguist-vendored
rails-backend/config/credentials/*.yml.enc diff=rails_credentials
rails-backend/config/credentials.yml.enc diff=rails_credentials
