.button {
  padding-inline: 1rem;
  text-decoration: underline;
  color: blue;
}

.activebutton {
  color: red;
}

:hover .button {
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}