<h3>Articles</h3>
<hr>
<h6>Test Elements</h6>
<!-- with interpolation -->
<div id="data binding example">
  <!-- safe navigation operator '?' checks if object is null -->
  <!-- if null, it renders nothing rather than throwing an error -->
  <img src="" alt="{{article.title+ ' example pic'}}">
  <br>
  <!-- without interpolation - using expressions -->
  <!-- note: square brackets create only one-way binding from component to template -->
  <!-- expressions are evaluated and return a new value-->
  <img src="" [alt]="article.title+ ' example pic'">
  <br>
  <!-- example with function binding -->
  <img src="" [alt]="createAltTag(article)">
</div>
<br>
<hr>
<br>
<br>
<p><b>{{article.title}}</b></p>
<p>{{article.body}}</p>
<p>{{article.status}}</p>
<hr>

<div>
  <div class="filters">
    <span>Filter: </span>
    <!-- example of binding to html events using statements-->
    <!-- note: parentheses create only one-way binding from template to component -->
    <!-- statements return no value and typically create some sort of change in the state of the app -->
    <a class="button" (click)="filter='public'">public</a>
    <a class="button" (click)="filter='private'">private</a>
    <a class="button" (click)="filter='archived'">archived</a>
  </div>
  <ul>
    <!-- angular for loop -->
    <li *ngFor="let article of getFilteredArticles()">
      <div hidden>
        <!-- example usage of ngif directive-->
        <div *ngIf="article.status==='public'" class="public">public</div>
        <!-- same with attribute binding: good for complex render content 
      cause element is not actually rendered to dom but just set as hidden -->
        <div [hidden]="article.status!=='public'" class="public">public</div>
        <!-- another option for simple class binding: -->
        <div [class.private]="article.status==='private'">private</div>
        <!-- style binding is also possible -->
        <div [style.color]="article.status==='private'">private</div>
      </div>
      <!-- ngclass directive for more complex class binding using a function in the component logic: -->
      <div class="underlined" [ngClass]="getStatusClass(article)">{{article.status}}</div>
      <p><b>{{article?.title}}</b></p>
      <p>{{article?.body}}</p>
      <div class="pipe examples">
        <p> Price: ${{price.toFixed(2)}}</p>
        <!-- using ngs 'pipes' for easy data formatting -->
        <p> Price: {{price | currency}}</p>
        <!-- also parameters are permitted -->
        <p> Price: {{price | currency:'EUR'}}</p>
        <!-- It's also possible to create custom pipes for specific data formatting! -->
      </div>
    </li>
  </ul>
</div>